@charset "utf-8";
/*
-----------------------------
HTML selectors
-----------------------------
*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  height: auto;
}

header {
  display: flex;
  justify-content: center;
  color: black;
  background-color: #ee7b08;
  flex-wrap: wrap;
  position: relative;
}

nav {
  
  /*
  display:none;
  remove the nav from the HTML
  */
  height: 0;
  overflow: hidden;
  width: 100%;
  transition: height 0.3s ease, visibility 0s 0.3s;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

nav a {
  line-height: 40px;
  /*border-top: 1px solid #afafaf;*/
  padding: 0 20px;
  color:white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

nav a:hover,
nav a:focus,
nav a:active {
  background-color: rgba(255,255,255, 0.2);
}

/*nav li:last-child a {
  border-bottom: 0.5px solid #afafaf;
}*/
main {
  background-color: #fff5d5;
  padding: 20px 30px 30px 30px;
}

/* footer  */
footer {
  color: black;
  justify-content: center;
  background-color: #fbf9f7;
  text-align: center;
  border-top: solid 1px #ccc;
  width: 100%;
  font-family: "PT Serif", serif;
  font-size: 12px;
  color: #686868;
}

/*
-----------------------------
.class selectors
-----------------------------
*/

.center-align{
  text-align: center;
}
/* Hamburger Styles */
.hamburger {
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hamburger-icon {
  color: white;
  line-height: 1;
  font-size: 1.9em;
}

.hamburger:focus,
.hamburger-icon:focus {
  outline: none;
}

.hamburger:focus .hamburger-icon {
  outline: none;
}

.hamburger-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.logo {
  width: 200px;
  padding: 0 50px;
  /*position: relative;*/
  display: flex;
  justify-content: center;
  z-index: 9999; 
}

.logo-img {
  width: 200px;
  height: auto;
}

.show nav {
  /*
  display:block;
  add the nav to the HTML
  */
  /* display:block; */
  height: 168px;
  width: 100%; 
  transition: height 0.3s ease, visibiliy 0s;
}

.footer-info {
  display: flex;
  justify-content: space-evenly;
}

.location {
  display: flex;
  justify-content: center;
}

.email-phone {
  display: flex;
  justify-content: center;
}

.social {
  display: flex;
  flex: flex-end;
  padding: 25px 0;
}

.facebook {
  padding-right: 7px;
}

.twitter {
  padding-right: 7px;
}

.instagram {
  padding-right: 7px;
}

.copyright {
  color: black;
  display: flex;
  justify-content: center;
  background-color: #ee7b08;
  opacity: 0.5;
  text-align: center;
  line-height: 5px;
  border-top: solid 1px #ccc;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  font-family: "PT Serif", serif;
  font-size: 12px;
  color: black;
}

.link {
  color: black;
  text-decoration: none;
  font-size: 12px;
}

.link:hover {
  color: rgb(11, 62, 82);
}

/* Menu page - modules style  */
.modules {
  background-image: url(../images/cats-cafe-4697753_1920.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px; }

.modules-title {
  grid-column: span 3;
  text-align: center;
  font-size: 1rem;
  padding-top: 30px;
  padding-bottom: 30px; }

.menu {
  background: rgba(245, 239, 239, 0.8);
  padding-bottom: 20px; }
  .menu table {
    width: 100%; }
  .menu td {
    font-size: 1em;
    padding-top: 30px;
    padding-bottom: 20px; }
  .menu tr td:last-child {
    text-align: right;
    padding-right: 60px;
    padding-left: 0px; }
  .menu tr td:first-child {
    text-align: left;
    padding-left: 60px;
    padding-right: 0px; }
  .menu caption {
    text-decoration: underline;
    text-align: left;
    font-size: 1.2em;
    padding-left: 60px;
    padding-bottom: 10px;
    padding-top: 30px; }
/* end--main style  */
/*
-----------------------------
#id selectors
-----------------------------
*/

/*
-----------------------------
@media selectors
-----------------------------
*/
@media only screen and (min-width: 1920) {
  .modules {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    grid-column-gap: 20px; }

  .menu {
    padding: 0px; }
    .menu td {
      padding-top: 20px;
      padding-bottom: 10px;
      padding-right: 0px;
      padding-left: 0px; }
    .menu tr td:last-child {
      padding-right: 40px; }
    .menu tr td:first-child {
      padding-left: 40px; }
    .menu caption {
      padding-left: 40px; }
   }

@media only screen and (max-width: 720px) {
  .modules {
    grid-column-gap: 0;
    grid-row-gap: 40px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: 1rem; }
    .modules .modules-title {
      grid-column: span 3;
      padding-bottom: 0; }
    .modules .m-01 {
      grid-column: span 3; }
    .modules .m-02 {
      grid-column: span 3; }
    .modules .m-03 {
      grid-column: span 3; }
    .modules caption {
      padding-left: 60px; }
    .modules td {
      padding-top: 10px;
      padding-bottom: 10px; }
    .modules tr td:last-child {
      padding-right: 60px; }
    .modules tr td:first-child {
      padding-left: 60px; }
   }



